<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mi Sitio Web{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
</head>
<body>
    <div class="contenedor">
        {% include "includes/header.html" %}
        {% include "includes/navbar.html" %}
        
        <main class="contenido-principal">
            {% block content %}
            {% endblock %}
        </main>
        
        {% include "includes/footer.html" %}
    </div>
</body>
</html>